version: 2
anchors:
  usually-build: &usually-build
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y graphviz fonts-ipafont
      - restore_cache:
          key: gradle-dependencies-{{ checksum "build.gradle" }}
      - run: ./gradlew build
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-dependencies-{{ checksum "build.gradle" }}
      - store_test_results:
          path: jig-core/build/test-results
      - store_artifacts:
          path: jig-core/build/reports/tests
      - store_artifacts:
          path: jig-gradle-plugin/build/reports/tests
jobs:
  java-8:
    docker:
    - image: circleci/openjdk:8-jdk
    <<: *usually-build
  java-11:
    docker:
    - image: circleci/openjdk:11.0.3-jdk-stretch
    <<: *usually-build

  release-build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y graphviz fonts-ipafont
      - restore_cache:
          key: gradle-dependencies-{{ checksum "build.gradle" }}
      - run: ./gradlew build -Pversion=${CIRCLE_TAG}
      - store_test_results:
          path: jig-core/build/test-results

      # RELEASE
      - store_artifacts:
          path: jig-cli/build/libs
          destination: module
      - store_artifacts:
          path: jig-cli-kt/build/libs
          destination: module
      - run: |
         java -jar jig-cli/build/libs/jig-cli.jar --outputDirectory=example
      - store_artifacts:
          path: example
          destination: example
      - run: ./gradlew :jig-annotation:bintrayUpload :jig-core:bintrayUpload :jig-gradle-plugin:publishPlugins -Pversion=${CIRCLE_TAG}

      # licenses
      - run: ./gradlew downloadLicenses
      - store_artifacts:
          path: build/reports/license
workflows:
  version: 2
  usually:
    jobs:
      - java-8:
          filters:
            branches:
              only: 'master'
      - java-11:
          requires:
            - java-8
          filters:
            branches:
              only: 'master'
  release:
    jobs:
      - release-build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.+/

