<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dddjava.jig.infrastructure.mybatis.ut.UnparseableMapper">

    <select id="selectOgnl">
        select hoge, fuga, ${value} from とあるテーブル
        order by 1
    </select>

    <select id="selectOgnlWhere">
        select hoge, fuga, ${value} from とあるテーブル
        <where>
            1 = 1
        </where>
        order by 1
    </select>

</mapper>
