<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jig.infrastructure.mybatis.SampleMapper">

    <select id="simple" resultType="boolean">
        SELECT true
        FROM hoge
        WHERE identifier = #{key}
        <include refid="include"/>
    </select>

    <select id="binding" resultType="boolean">
        <bind name="keyLength" value="key.length()"/>
        SELECT true
        FROM fuga
        WHERE identifier = #{key}
    </select>

    <select id="japanese" resultType="string">
        SELECT そのカラム
        FROM あのスキーマ.このテーブル
        WHERE キー = #{key}
    </select>

    <sql id="include">
        AND 1 = 1
    </sql>
</mapper>