/* index */

.index > header {
    border-bottom: solid 2px #000;
}

.index > header > h1 {
    margin-bottom: 0;
}

.index > header > p {
    font-size: var(--jig-font-size-xs);
    color: #aaa;
    margin-top: 0;
    margin-bottom: 0;
}

.index > header, .index > main {
    margin: 0 auto;
    max-width: 800px;
}

.index .diagram img {
    max-width: 800px;
}

.index > main > section h2 {
    border-bottom: solid 1px #000;
}

.index > main > section h3 {
    border-bottom: solid 1px #999;
}
