<html lang="ja">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title>アプリケーション概要</title>
</head>
<body>
<header class="top">
    <a href="./index.html">[INDEX]</a>
    <b>アプリケーション概要</b>
</header>
<div class="sideNavMain">
    <nav id="application-sidebar" class="tree in-page-sidebar in-page-sidebar--tree" aria-label="パッケージツリー">
        <div id="application-sidebar-list" class="in-page-sidebar__list"></div>
    </nav>
    <main>
        <div id="application-list"></div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked@15.0.7/marked.min.js"></script>
<script src="./assets/jig.js"></script>
<script src="./data/application-data.js"></script>
<script src="./assets/application.js"></script>
</body>
</html>
