a {
    color: #000;
}

.menu {
    /* box-sizing: border-box; */
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 300px;
    font-size: 0.8em;

    border-right: dashed 1px;
}
.menu a {
    word-break: keep-all;
    white-space: nowrap;
}
.menu details {
    margin-bottom: 10px;
}
.menu details > div {
    margin-left: 30px;
}