<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <script src="./assets/marked.2.0.1.min.js"></script>
    <title th:text="${title}">domain</title>
</head>
<body>

<div class="treeMenuAndMain">
<nav class="tree" th:with="node=${baseComposite.resolveRootComposite()}">
    <div th:replace="fragment-recursive-package :: item">パッケージツリーに置換</div>
</nav>

<main>
    <h1 th:text="${title}">ドメイン概要</h1>

    <th:block th:each="item : ${jigPackages}">
        <section th:replace="fragment-package :: item">
            パッケージ表示
        </section>
    </th:block>

    <th:block th:each="item : ${jigTypes}">
        <section th:replace="fragment-type :: item">
            クラス表示
        </section>
    </th:block>
</main>
</div>

<script>
Array.from(document.getElementsByClassName("markdown")).forEach(x => x.innerHTML = marked(x.innerHTML))
</script>
</body>
</html>