<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
</head>
<body>

<nav class="tree" th:fragment="tree-navigation(node)">
    <div>
        <a href="./index.html">=> INDEX</a>
    </div>
    <th:block th:fragment="item(node)">
        <details th:if="${node.isPackage()}" open>
            <summary class="package">
                <a href="#" th:href="${node.href()}" th:text="${node.name()}">パッケージ名</a>
            </summary>
            <div>
                <th:block th:each="childNode : ${node.expandChildren()}"><b th:replace="this :: item(node=${childNode})">replace</b></th:block>
            </div>
        </details>
        <th:block th:unless="${node.isPackage()}">
            <a href="#" th:href="${node.href()}" th:text="${node.name()}">クラス名</a><br>
        </th:block>
    </th:block>
</nav>

</body>
</html>