<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title th:text="${title}">共通</title>
</head>
<body>
<header class="top" th:fragment="header(title)">
    <a href="./index.html">[INDEX]</a>
    <b th:text="${title}">たいとる</b>
</header>

<div class="sideNavMain">
    <nav class="tree" th:fragment="tree-navigation(node)" th:remove="all-but-first">
        <details th:fragment="tree-composite(node)" open>
            <summary class="package">
                <a href="#" th:href="${node.href()}" th:text="${node.name()}">パッケージ名</a>
            </summary>
            <th:block th:each="child : ${node.expandChildren()}"><b th:replace="${child.isPackage()} ? ~{this :: tree-composite(${child})} : ~{this :: tree-leaf(${child})}">パッケージかクラスに置換</b></th:block>
        </details>
        <div th:fragment="tree-leaf(node)"><a href="#" th:href="${node.href()}" th:text="${node.name()}" th:classappend="${node.isDeprecated()}? 'deprecated'">クラス名</a></div>
    </nav>
</div>

<th:block th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/marked@5.1.0/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.2.1/dist/mermaid.min.js"></script>
    <script src="./assets/jig.js"></script>
</th:block>
</body>
</html>