<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
</head>
<body>

<nav class="tree" th:fragment="tree-navigation(node)">
    <div>
        <a href="./index.html">=> INDEX</a>
    </div>
    <details th:fragment="tree-composite(node)" open>
        <summary class="package">
            <a href="#" th:href="${node.href()}" th:text="${node.name()}">パッケージ名</a>
        </summary>
        <div>
            <th:block th:each="child : ${node.expandChildren()}"><b
                    th:replace="${child.isPackage()} ? ~{this :: tree-composite(${child})} : ~{this :: tree-leaf(${child})}">パッケージかクラスに置換</b></th:block>
        </div>
    </details>
</nav>

<nav class="tree">
    <th:block th:fragment="tree-leaf(node)"><a href="#" th:href="${node.href()}" th:text="${node.name()}">クラス名</a><br></th:block>
</nav>
</body>
</html>