<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment-base::head(${title})}">
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title>term</title>
</head>
<body class="index">

<header>
    <h1 th:text="${title}">JIG</h1>
    <p>出力日時: <i th:text="${timestamp}">2012-03-04T05:06:07</i></p>
</header>

<main>
    <section>
        <h2>概要: HTML</h2>
        <ul>
            <li th:if="${DomainSummary}"><a href="#" th:href="${DomainSummary}">ドメイン概要</a></li>
            <li th:if="${ApplicationSummary}"><a href="#" th:href="${ApplicationSummary}">アプリケーション概要</a></li>
            <li th:if="${UsecaseSummary}"><a href="#" th:href="${UsecaseSummary}">ユースケース概要</a></li>
            <li th:if="${EntrypointSummary}"><a href="#" th:href="${EntrypointSummary}">エントリーポイント概要</a></li>
            <li th:if="${EnumSummary}"><a href="#" th:href="${EnumSummary}">区分概要</a></li>
            <li th:if="${TermTable}"><a href="#" th:href="${TermTable}">用語集</a></li>
        </ul>
    </section>
    <section>
        <h2>一覧: Excel</h2>
        <ul>
            <li th:if="${BusinessRuleList}"><a href="#" th:href="${BusinessRuleList}">ビジネスルール一覧</a></li>
            <li th:if="${ApplicationList}"><a href="#" th:href="${ApplicationList}">機能一覧</a></li>
            <li th:if="${TermList}"><a href="#" th:href="${TermList}">用語一覧</a></li>
        </ul>
    </section>

    <section class="diagram">
        <h2>図: <span th:text="${diagramFormat}">SVG</span></h2>
        <div th:each="diagram : ${diagrams}">
            <h3 th:text="${diagram.label()}">XXX</h3>
            <a href="#" th:href="${image}" th:each="image : ${diagram.imageFileNames()}">
                <img src="dummy.svg" th:src="${image}">
            </a>
            <ul th:if="${diagram.hasOthers()}">
                <li th:each="text : ${diagram.otherFileNames()}"><a th:href="${text}" th:text="${text}">XXX</a></li>
            </ul>
        </div>
    </section>
</main>

</body>
</html>