<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <title th:text="${title}">JIG</title>
</head>
<body class="index">

<header>
    <h1 th:text="${title}">JIG</h1>
</header>

<main>
    <section>
        <h2>概要: HTML</h2>
        <ul>
            <li th:if="${DomainSummary}"><a href="#" th:href="${DomainSummary}">ドメイン概要</a></li>
            <li th:if="${ApplicationSummary}"><a href="#" th:href="${ApplicationSummary}">アプリケーション概要</a></li>
        </ul>
    </section>
    <section>
        <h2>一覧: Excel</h2>
        <ul>
            <li th:if="${BusinessRuleList}"><a href="#" th:href="${BusinessRuleList}">ビジネスルール一覧</a></li>
            <li th:if="${ApplicationList}"><a href="#" th:href="${ApplicationList}">機能一覧</a></li>
        </ul>
    </section>

    <section class="diagram">
        <h2>図: SVG</h2>

        <a href="#" th:href="${diagramFile}" th:each="diagramFile : ${diagramFiles}">
            <img src="dummy.svg" th:src="${diagramFile}">
        </a>
    </section>
</main>

</body>
</html>