<!DOCTYPE html>
<html lang="ja">
<head th:replace="~{fragment-base::head(${title})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title>インサイト</title>
</head>
<body class="insight">
<header class="top" th:replace="~{fragment-base::header(title=${title})}">たいとる</header>
<main>
    <button id="cancel-zoom" class="hidden">ズーム解除</button>

    <h2>パッケージ (<span th:text="${packageInsightList.size()}">1</span>)</h2>
    <table id="package-insight-list" class="zebra sortable">
        <thead>
        <tr>
            <th></th>
            <th>完全修飾名</th>
            <th>名称</th>
            <th>クラス数</th>
            <th>メソッド数</th>
            <th>使用クラス数</th>
            <th>循環的複雑度（メソッド合計）</th>
            <th>規模（メソッド合計）</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insight: ${packageInsightList}">
            <td><i class="zoom">🔍</i></td>
            <td th:text="${insight.fqn()}" class="fqn">com.example</td>
            <td th:text="${insight.label()}">えぐざんぷる</td>
            <td th:text="${insight.numberOfTypes()}" class="number">11</td>
            <td th:text="${insight.numberOfMethods()}" class="number">11</td>
            <td th:text="${insight.numberOfUsingTypes()}" class="number">2</td>
            <td th:text="${insight.cyclomaticComplexity()}" class="number">5</td>
            <td th:text="${insight.size()}" class="number">129</td>
        </tr>
        </tbody>
    </table>

    <h2>クラス (<span th:text="${typeInsightList.size()}">1</span>)</h2>
    <table id="type-insight-list" class="zebra sortable">
        <thead>
        <tr>
            <th></th>
            <th>完全修飾名</th>
            <th>名称</th>
            <th>メソッド数</th>
            <th>使用クラス数</th>
            <th>循環的複雑度（メソッド合計）</th>
            <th>規模（メソッド合計）</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insight: ${typeInsightList}">
            <td><i class="zoom">🔍</i></td>
            <td th:text="${insight.fqn()}" class="fqn">com.example</td>
            <td th:text="${insight.label()}">えぐざんぷる</td>
            <td th:text="${insight.numberOfMethods()}" class="number">11</td>
            <td th:text="${insight.numberOfUsingTypes()}" class="number">2</td>
            <td th:text="${insight.cyclomaticComplexity()}" class="number">5</td>
            <td th:text="${insight.size()}" class="number">129</td>
        </tr>
        </tbody>
    </table>

    <h2>メソッド (<span th:text="${methodInsightList.size()}">1</span>)</h2>
    <table id="method-insight-list" class="zebra sortable">
        <thead>
        <tr>
            <th></th>
            <th>完全修飾名</th>
            <th>名称</th>
            <th>循環的複雑度</th>
            <th>使用クラス数</th>
            <th>使用メソッド数</th>
            <th>使用フィールド数</th>
            <th>規模</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insight: ${methodInsightList}">
            <td><i class="zoom">🔍</i></td>
            <td th:text="${insight.fqn()}" class="fqn">com.example</td>
            <td th:text="${insight.label()}">えぐざんぷる</td>
            <td th:text="${insight.cyclomaticComplexity()}" class="number">5</td>
            <td th:text="${insight.numberOfUsingTypes()}" class="number">2</td>
            <td th:text="${insight.numberOfUsingMethods()}" class="number">11</td>
            <td th:text="${insight.numberOfUsingFields()}" class="number">6</td>
            <td th:text="${insight.size()}" class="number">129</td>
        </tr>
        </tbody>
    </table>
</main>

<th:block th:replace="~{fragment-base::scripts}">
    <script src="https://cdn.jsdelivr.net/npm/marked@15.0.7/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js"></script>
    <script src="./assets/jig.js"></script>
</th:block>
</body>
</html>