<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title th:text="${title}">出力</title>
</head>
<body class="outputs">
<header class="top" th:replace="~{fragment-base::header(title=${title})}"></header>
<main>
    <h1>外部利用概要</h1>
    <aside class="notice">
        <p>注意: このドキュメントはincubate（作成中）です。次のバージョンで大きく変更したり削除したりする可能性があります。</p>
    </aside>

    <h2>出力ポート操作一覧</h2>
    <table id="outputs-list" class="zebra sortable">
        <thead>
        <tr>
            <th>OutputPort</th>
            <th>Operation</th>
            <th>OutputAdapter</th>
            <th>Execution</th>
            <th>PersistenceOperation</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</main>

<script id="outputs-data" type="application/json" th:utext="${outputsJson}">
    {"links":[]}
</script>

<th:block th:replace="~{fragment-base::scripts}"></th:block>
<script src="./assets/outputs.js"></script>
</body>
</html>
