<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.ico">
    <title th:text="${title}">出力</title>
</head>
<body class="repository">
<header class="top" th:replace="~{fragment-base::header(title=${title})}"></header>
<main>
    <h1>出力ポート＆アダプタ</h1>
    このドキュメントは作成中です。

    <dl>
        <dt>OutputPort</dt>
        <dd>Repositoryインタフェース。</dd>
        <dt>Gateway</dt>
        <dd>Repositoryインタフェースのメソッド。外界への出口。</dd>
        <dt>OutputAdapter</dt>
        <dd>Repository実装クラス。@Repositoryがつけられるもの。</dd>
        <dt>Invocation</dt>
        <dd>実装メソッド。</dd>
    </dl>

    <table id="repository-list" class="zebra sortable">
        <thead>
        <tr>
            <th>OutputPort</th>
            <th>Gateway</th>
            <th>OutputAdapter</th>
            <th>Invocation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${outputs}">
            <td th:text="${item.port()}"></td>
            <td th:text="${item.gateway()}"></td>
            <td th:text="${item.adapter()}"></td>
            <td th:text="${item.invocation()}"></td>
        </tr>
        </tbody>
    </table>
</main>

<th:block th:replace="~{fragment-base::scripts}"></th:block>
</body>
</html>