a {
    color: #000;
}

.menu {
    /* box-sizing: border-box; */
    position: fixed;
    overflow: auto;
    height: 100%;
    width: 300px;
    font-size: 0.8em;

    border-right: dashed 1px;
}
.menu a, .menu summary {
    word-break: keep-all;
    white-space: nowrap;
}
.menu details > div {
    margin-left: 30px;
}

main {
    margin-left: 300px;
}

main > section > h2 {
    margin-bottom: 0px;
}

main table {
    border-collapse: collapse;
    width: 80%;
}
main table tr > * {
    border: #000 solid 1px;
    padding-left: 1em;
    text-align: left;
}
main table thead {
    color: #FFF;
    background-color: #465DAA;
}

main > section {
    margin-left: 10px;
    border-bottom: #000 solid 1px;
    padding-left: 10px;
    padding-bottom: 10px;
}
main > section > section {
    margin-left: 1em;
}
main > section > section > p {
    margin-left: 1em;
}

.fully-qualified-name {
    font-size: 0.8em;
    color: silver;
}