<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="./assets/style.css" rel="stylesheet">
    <script src="./assets/marked.min.js"></script>
    <link rel="icon" href="./assets/favicon.ico">
    <title th:text="${title}">term</title>
</head>
<body class="table">
<main>
    <h1 th:text="${title}">用語集</h1>

    <table class="terms">
        <thead>
        <tr>
            <th>用語</th>
            <th>用語（別名）</th>
            <th>種類</th>
            <th>説明</th>
            <th>識別子</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="term : ${terms.list()}">
            <td th:text="${term.identifier.simpleText()}" class="term">ClassName</td>
            <td th:text="${term.title()}" class="term">用語の和名が表示されます</td>
            <td th:text="${term.termKind()}" class="kind">クラス</td>
            <td th:utext="${term.description()}" class="markdown">ここには **マークダウン** での説明が記述されます。</td>
            <td th:text="${term.identifier.asText()}" class="identifier">this.is.full.ClassName</td>
        </tr>
        </tbody>
    </table>
</main>

<script src="./assets/jig.js"></script>
</body>