name: Main PR Gate

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review # Draftを解除したとき
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    # Draftでは動作させない
    if: github.event.pull_request.draft == false
    env:
      GRADLE_OPTS: '-Dorg.gradle.daemon=false'
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew build
      - name: Upload Failure Report
        uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: test-failure-reports
          path: jig-*/build/reports/tests/
          retention-days: 3
